body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}

.navbar {
    background-color: #1abc78;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a img {
    height: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a.active {
    color: yellow !important;
}

.main-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Header Section */
.header {
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 2px solid #ccc;
}

.header h2 {
    margin: 0;
}

.header p {
    margin: 5px 0;
}

/* Profile Container */
.profile-container,.cg-count{
    width: 75%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 30px;
    /* display: flex; */
    justify-content: center;
    gap: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.cg-count {
    display: none;
}

.profile-container:hover,.cg-count:hover {
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.6);
    transform: translateY(-5px);
}


.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.image img {
    width: 170px;
    height: 210px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Right Section */
.right-section {
    flex: 1;
}

.student-id {
    color: green;
    margin: 0;
}

.id{
    color: grey;
}

.name {
    color: #0056b3;
    margin: 5px 0;
}

.department {
    margin-bottom: 20px;
    font-weight: bold;
}

/* Info Grid */
.info-grid {
    display: flex;
    justify-content: space-between;
}

.info-left {
    width: 60%;
}

.info-right {
    width: 35%;
}

.address {
    margin-top: 15px;
}

/* Status Colors */
.status {
    font-weight: bold;
}

.active {
    color: green;
}

.ok {
    color: green;
}

.complete {
    color: green;
}

.cg-btn{
    display: flex;
    justify-content: center;
}


.btn {
    cursor: pointer;
    background-color: #1abc78;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.6);
    transform: translateY(-5px);
}
.footer {
    text-align: center;
    background-color: #1abc78;
    color: white;
    padding: 10px;
}

.footer-icon img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    display: block;
    transition: transform 0.3s ease;
}

.footer-icon:hover img {
    transform: scale(1.15);
}

.content-link {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.hhh{
    background-color: #ff4d07;
    border: none;
    padding: 10px 20px;
    width: 40%;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.dis{
    color: rgb(255, 0, 0);
    margin: 5px 0;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 40px;
}

.form-container {
    /* margin-top: 20px; */
    max-width: 500px; 
    margin: 30px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.form-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.6);
    transform: translateY(-5px);
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input,
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #1abc78;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: #fff;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.close {
    float: right;
    font-size: 22px;
    cursor: pointer;
    color: red;
}